html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: 'Crimson Text', serif;
	font-size: 20px;
	background: url("../images/grey_wash_wall.png") repeat;
	color: #2a2b2f;
	margin-bottom: 60px;

}

.navbar {
	background-color: #F5F5F5;
	border-bottom: 4px solid #48582d;
}

img {
	width: 200px;
	height: 185px;
	float:left;
	margin-bottom: 10px;
}

.container {
	border: 3px solid #48582d;
	background-color: #F5F5F5; 
	margin-top: 30px;
	margin-bottom: 100px;
	clear: both;
}

header {
	background-color: #9bb26c;
	padding: 10px;
	margin-left: 180px;

}

#bodheader {
	color: #9bb26c; 
}

.justify-content-end {
	margin-right: 170px;

}

.imgdiv {
	position: relative;

}

div > p {
	width: 200px;
	text-align: center;
	background-color: #9bb26c; 
	position: absolute;
	bottom: 3px;	
}

button {
	margin-bottom: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #9499a5;
  text-align: center;
  border-top: 4px solid #9bb26c;
}

